
<div style="position: absolute; top: 5rem; left: 2rem;">
  <a [routerLink]="['/auth/log-in']">
    <ion-icon size="large" src="assets/icon/arrow-back.svg"></ion-icon>
  </a>
</div>

<div class="contenedor">

  <p class="texto-principal" style="align-self: start; font-size: 1.25rem;">
    Crear cuenta
  </p>

  <ion-item class="input">
    <ion-input type="text" label="Nombre" label-placement="floating"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-input type="email" label="Correo electronico" label-placement="floating"></ion-input>
  </ion-item>

  <ion-item class="input">
    <ion-input type="password" label="Contraseña" label-placement="floating">
    </ion-input>
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-item>

  <ion-item class="input">
    <ion-input type="password" label="Confirmar contraseña" label-placement="floating">
    </ion-input>
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-item>

  <ion-button expand="block" style="width: 100%;">Registrarse</ion-button>

  <div style="margin: 1rem 0;">
    <p class="texto-principal">
      O registrate con
    </p>

    <div class="redes-sociales">
      <ion-icon size="large" src="assets/icon/facebook.svg"></ion-icon>
      <ion-icon size="large" src="assets/icon/google.svg"></ion-icon>
    </div>
  </div>

</div>
