
<div style="position: absolute; top: 5rem; left: 2rem;">
  <a [routerLink]="['/auth/log-in']">
    <ion-icon size="large" src="assets/icon/arrow-back.svg"></ion-icon>
  </a>
</div>

<div class="contenedor">

  <p class="texto-principal" style="align-self: start; font-size: 1.25rem;">
    Recuperar contraseña
  </p>

  <ion-item class="input">
    <ion-input type="email" label="Correo electronico" label-placement="floating"></ion-input>
  </ion-item>

  <ion-button expand="block" style="width: 100%;">Restaurar</ion-button>

</div>
